<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todos</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,700|Varela+Round" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/todo.css">
</head>
<body>

<h1>Todos los Grupos Musicales</h1>
<div class="row">
  {{#each data}}
  <div class="col col-3 m-5">
    <div class="card" style="width:400px">
      <h4 class="card-title">{{nombreGrupo}}</h4>
      <p class="card-text">ID: {{_id}}</p> 
      <p class="card-text">Num. Integrantes: {{numIntegrantes}}</p>
      <p class="card-text">Genero: {{genero}}</p>
      <p class="card-text">Nacionalidad: {{nacionalidad}}</p>
      <p class="card-text">Fecha de Creacion: {{anioCreacion}}</p>
      <p class="card-text">Fecha de Separacion: {{anioSeparacion}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>

</body>
</html>