<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solo</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,700|Varela+Round" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/solo.css">
</head>
<body>
  <h1>Grupo Buscado</h1>
<div class="row">
  <div class="col col-3 m-5">
    <div class="card" style="width:400px">
      <h4 class="card-title">{{datos.nombreGrupo}}</h4>
      <p class="card-text">ID: {{datos._id}}</p> 
      <p class="card-text">Num. Integrantes: {{datos.numIntegrantes}}</p>
      <p class="card-text">Genero: {{datos.genero}}</p>
      <p class="card-text">Nacionalidad: {{datos.nacionalidad}}</p>
      <p class="card-text">Fecha de Creacion: {{datos.anioCreacion}}</p>
      <p class="card-text">Fecha de Separacion: {{datos.anioSeparacion}}</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>