
  <body>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre del grupo</th>
            <th>Numero de integrantes</th>
            <th>Genero</th>
            <th>Nacionalidad</th>
            <th>A침o de Creaci칩n</th>
            <th>A침o de separaci칩n</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{nombreGrupo}}</td>
            <td>{{numIntegrantes}}</td>
            <td>{{genero}}</td>
            <td>{{nacionalidad}}</td>
            <td>{{anioCreacion}}</td>
            <td>{{anioSeparacion}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
